<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <header>
	<h1>Admin Page</h1>
	<a href="/">View Site</a> | <a href="/logout">Logout</a>
    </header>

    <main>
	<!-- HEADER / LOGO -->
	<section>
	    <h2> Header Logo </h2>
	    <form method="POST" action="/admin/update-header">
		<label>Logo Text: <input type="text" name="logo_text" value="{{ header.logo_text or '' }}" placeholder="<Aldrsze/>"></label><br>
		
		<button type="submit"> Update Logo</button>
	    </form>
	</section>

	<!-- HOME / HERO SECTION -->
	<section>
	    <h2>Home Section (hero)</h2>
	    <form method="POST" action="/admin/update-home" enctype="multipart/form-data">
		<label> Greeting: <input type="text" name="greeting" value="{{ home.greeting or '' }}" placeholder="Hi, I'm Aldrin!"></label><br>
		<label> Subtitle: <textarea name="subtitle" rows="2" placeholder="Aspiring Software Developer..."> {{ home.subtitle or '' }}</textarea></label><br>
		<label> Profile Image: <input type="file" name="profile_image">{% if home.profile_image %} <small> (Current: {{ home.profile_image }})</small>{% endif %}</label><br>
		<button type="submit"> Update Home </button>
	    </form>
	</section>

    </main>

    <script src="http://localhost:35729/livereload.js"></script>
</body>
</html>
